page-edit-user {

	.more-options{
		position: absolute; 
		top: 6px; 
		left: 320px;
	}

	.btn-more-options{
		background-color: #265489; 
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
	}

}