<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
	  		<ion-icon name="menu"></ion-icon>
		</button>
		<div class="center">
	        <!-- <img style = "height: 40px; width: 290px;" src="assets/imgs/logoapp.svg" /> -->
	     	<ion-title>Services App</ion-title>
	    </div>
	</ion-navbar>
</ion-header>

<ion-content class="prueba">
	<ion-fab bottom left *ngIf = "_principalProvider.getRol() == 'driver' && _principalProvider.getStatus() == 'no disponible'" (click) = "iniciarViajes()">
	    <button ion-fab mini color="secondary"><ion-icon name="power"></ion-icon></button>
  	</ion-fab>
  	<ion-fab bottom left *ngIf = "_principalProvider.getRol() == 'driver' && _principalProvider.getStatus() == 'disponible'" (click) = "cancelarViajes()">
	    <button ion-fab mini color="danger"><ion-icon name="power"></ion-icon></button>
  	</ion-fab>
	<div id="map"></div>
	<!-- esto es para la informacion de como llegar, esto se puede eliminar -->
  	<!-- <ion-scroll scrollY="true" class="scroll">
    	<div padding-horizontal id="panel"></div>
  	</ion-scroll> -->
</ion-content>
<ion-input class="controls" type="text" placeholder="¿A dónde vas?" id="googlePlaces" required></ion-input>
<ion-footer>
    <ion-toolbar text-center text-uppercase>
        <p>{{anio}} © Isuneon S.A.</p>
    </ion-toolbar>
</ion-footer>