.action-sheets-basic-page {

     .action-sheet-button {
          margin-top: 15px;
          width: 50% !important;
     }

     .action-sheet-group {
          background-color: #eee;
     }

     .action-sheet-title{
          text-align: center;
          font-size: 14px;
          color: #333;
     }

     .action-sheet-sub-title{
          text-align: center;
          font-size: 18px;
     }

     .action-sheet-destructive{
          color: #008f39;
     }

     .button-cancel{
          color: #ff0000;
     }

}