.color-primary{
	// background-color: #265489 !important;
	background-color: #000 !important
}

.color-black{
	color: #000 !important;
}

.color-white{
	color: #FFFFFF;
}

.msg-error{
	color: red; 
	margin-left: 15px; 
	margin-top: 5px;
}

.scroll-content{
	padding-bottom: 20px !important;
	// overflow-y: hidden;
}

.btn-form{
	padding-left: 16px;
	padding-right: 16px; 
	margin-top: 15px;
}

.toolbar-menu{
	height: 160px;
}

.icon-menu{
	position: absolute; 
	left: 113px; 
	top: 20px; 
	font-size: 100px; 
}

.div-user:hover{
	cursor: pointer;
}

.div-username{
	width: 100%;  
	position: absolute; 
	top: 120px; 
	font-size: 20px; 
}

.center{
	text-align: center;
}

.toolbar-background-md {
    // background: #265489 !important;
    background: #000 !important;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #FFFFFF !important;
}

.toolbar-title-md{
	color: #FFFFFF !important;
}

.margin-top25{
	margin-top: 25px;
}

.title-form{
	text-align: center; 
	margin-top: 20px !important;
}

.info-form{
	font-size: 16px; 
	text-align: center; 
	margin-top: 30px;
}