<ion-header>
	<ion-navbar>
		<ion-title>Services App</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h3 class="title-form">Recuperar contraseña</h3>
    <div class="info-form">
        <p>
            Ingrese el correo electrónico asociado a su cuenta para enviarle un correo con su contraseña nueva
        </p>
    </div>
    <form [formGroup]="forma" (ngSubmit)="restorePassword()" novalidate>  
        <ion-item>
            <ion-label floating>Correo electrónico</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div class="msg-error" *ngIf="forma.controls['email'].errors?.required && forma.controls['email'].touched">
            El campo es obligatorio
        </div>
        <div class="msg-error" *ngIf="forma.controls['email'].errors?.pattern && forma.controls['email'].touched">
            Formato incorrecto
        </div>
        <div class="btn-form" padding-top>
            <button class="color-primary" ion-button block type="submit" [disabled]="!forma.valid">Enviar correo</button>
        </div>
    </form>
</ion-content>
<ion-footer>
    <ion-toolbar text-center text-uppercase>
        <p>{{anio}} © Isuneon S.A.</p>
    </ion-toolbar>
</ion-footer>